/* Configurations */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	font-size: 16px;
	background-color: var(--bodyColor);
}

:root {
	--text: "Roboto", helvetica, sans-serif;
	--bodyColor: #ffffff;
	--primaryColor: #ffffff;
	--shadowColor: #ffffff;
	--hoverColor: #ffffff;
	--settingsColor: #ffffff;
}

/* Header */

header {
	box-shadow: 5px 5px 5px 5px var(--shadowColor);
	height: 130px;
	width: 100%;
	position: relative;
	margin-bottom: 50px;
}

header > .title {
	display: block;
	margin: 0 auto;
	height: 60px;
	top: -50%;
	transform: translateY(50%);
}

/* Main */

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* Clock */

main > #clock {
	box-shadow: 5px 5px 5px 5px var(--shadowColor);
	height: 300px;
	width: 400px;
	margin-bottom: 50px;
	position: relative;
	top: 50%;
}

#clock > #content {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

/* Clock > Icons */

#content > #icons {
	width: 100%;
	display: flex;
	margin: 10px 0px 0px 0px;
	justify-content: space-around;
}

#icons > #sound {
	position: relative;
	right: 50px;
	height: 40px;
	transition: all 0.1s;
}

#icons > #sound:hover {
	cursor: pointer;
}

#icons > #config {
	position: relative;
	left: 50px;
	height: 35px;
}

#icons > #config:hover {
	cursor: pointer;
}

/* Clock */

#content > #pomodoro {
	color: white;
	font: 600 1.5em var(--text);
	margin-bottom: 20px;
}

#pomodoro > strong {
	color: var(--primaryColor);
}

#content > #timer {
	color: white;
	font: bold 5em var(--text);
	margin-bottom: 20px;
}

#content > #state {
	color: var(--primaryColor);
	font: 600 1.5em var(--text);
}

/* Buttons */

#buttons {
	display: flex;
	width: 100%;
	justify-content: center;
}

#button {
	border: none;
	height: 55px;
	width: 200px;
	background-color: var(--primaryColor);
	color: white;
	font: 600 1em var(--text);
	box-shadow: 3px 3px 5px 3px var(--shadowColor);
	margin-right: 50px;
	transition: background-color 0.2s;
}

#button:hover {
	cursor: pointer;
	background-color: var(--hoverColor);
}

#button:active {
	box-shadow: 0px 0px 0px 0px var(--shadowColor);
	position: relative;
	top: 3px;
}

#button > img {
	position: relative;
	right: 8px;
}

#buttonText {
	position: relative;
	bottom: 4px;
}

#restart {
	border: none;
	height: 55px;
	width: 200px;
	color: #5024c8;
	background-color: var(--primaryColor);
	color: white;
	font: 600 1em var(--text);
	box-shadow: 3px 3px 5px 3px var(--shadowColor);
	margin-left: 50px;
	transition: background-color 0.2s;
}

#restart:hover {
	cursor: pointer;
	background-color: var(--hoverColor);
}

#restart:active {
	box-shadow: 0px 0px 0px 0px var(--shadowColor);
	position: relative;
	top: 3px;
}

#restart > img {
	position: relative;
	right: 8px;
}

#restartText {
	position: relative;
	bottom: 4px;
}

/* Audio */

#audio {
	visibility: hidden;
}

/* Settings */

#settings {
	display: none;
	flex-direction: column;
	background-color: var(--settingsColor);
	height: 90%;
	width: 400px;
	position: fixed;
	z-index: 9;
	top: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px 5px #0000005b;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	transition: all 0.3s;
	animation: showSettings 0.5s 1 forwards;
}

#settings::-webkit-scrollbar {
	display: none;
}

@keyframes showSettings {
	100% {
		top: 50%;
	}
}

#settings > img {
	position: relative;
	left: 5px;
	top: 3px;
	height: 20px;
	width: 20px;
}

#settings > img:hover {
	cursor: pointer;
}

#settings > h1 {
	color: #ffffff;
	font: bold 1.8em var(--text);
	text-align: center;
}

#settings > h2 {
	color: #ffffff;
	font: normal 1.3em var(--text);
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#states > h2 {
	color: var(--primaryColor);
	font: bold 1.5em var(--text);
	text-align: center;
	margin-bottom: 25px;
}

#statesButtons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#statesButtons > button {
	padding: 10px;
	height: 45px;
	width: 100px;
	border: none;
	color: #ffffff;
	background-color: var(--primaryColor);
	margin-bottom: 10px;
	font: 500 0.9em var(--text);
	box-shadow: 2px 2px 3px 2px var(--shadowColor);
	border-radius: 5px;
}

#statesButtons > button:hover {
	cursor: pointer;
	background-color: var(--hoverColor);
}

#statesButtons > button:active {
	box-shadow: 0px 0px 0px 0px var(--shadowColor);
	position: relative;
	top: 3px;
}

.activeButton {
	box-shadow: 0px 0px 0px 0px var(--shadowColor);
	position: relative;
	top: 3px;
	border: 1px solid #ffffff !important;
}

#currentPomodoroInput {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	justify-content: center;
}

#currentPomodoroInput > label {
	color: #ffffff;
	font: normal 0.8em var(--text);
	text-align: center;
	margin-bottom: 8px;
}

#currentPomodoroInput > input {
	text-align: center;
	display: block;
	color: #ffffff;
	margin: auto;
	border-radius: 5px;
	height: 50px;
	width: 120px;
	font: normal 1.2em var(--text);
	border: none;
	background-color: var(--hoverColor);
	padding: 10px;
}

#currentPomodoroInput > input:focus {
	outline: solid 0.5px #ffffff;
}

.numberImputs {
	display: flex;
	flex-direction: column;
}

.numberImputs > label {
	color: #ffffff;
	font: normal 0.8em var(--text);
	text-align: center;
	margin-bottom: 8px;
}

.numberImputs > input {
	text-align: center;
	color: #ffffff;
	border-radius: 5px;
	height: 50px;
	width: 90px;
	font: normal 1.2em var(--text);
	border: none;
	background-color: var(--hoverColor);
	padding: 10px;
}

.numberImputs > input:focus {
	outline: solid 0.5px #ffffff;
}

.inputs {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}

#pomodoroInput {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	justify-content: center;
}

#pomodoroInput > label {
	color: #ffffff;
	font: normal 0.8em var(--text);
	text-align: center;
	margin-bottom: 8px;
}

#pomodoroInput > input {
	text-align: center;
	display: block;
	color: #ffffff;
	margin: auto;
	border-radius: 5px;
	height: 50px;
	width: 120px;
	font: normal 1.2em var(--text);
	border: none;
	background-color: var(--hoverColor);
	padding: 10px;
}

#pomodoroInput > input:focus {
	outline: solid 0.5px #ffffff;
}

#notification {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#notification > p {
	color: #ffffff;
	font: normal 0.6em var(--text);
	margin-top: 20px;
	margin-bottom: 10px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--hoverColor);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #14c322;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.colorConteiner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.colors {
	display: flex;
	width: 85%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.colors > button {
	border-radius: 50px;
	padding: 20px;
	cursor: pointer;
	border: none;
}

.colors > button:nth-child(1) {
	background-color: #fb3628;
}

.colors > button:nth-child(2) {
	background-color: #358528;
}

.colors > button:nth-child(3) {
	background-color: #32307d;
}

.colors > button:nth-child(4) {
	background-color: #e00639;
}

.colors > button:nth-child(5) {
	background-color: #29bfff;
}

.colors > button:nth-child(6) {
	background-color: #5f2cf1;
}

.activefColor {
	border: solid 1px #ffffff !important;
}

.activesbColor {
	border: solid 1px #ffffff !important;
}

.activelbColor {
	border: solid 1px #ffffff !important;
}

#about {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#about > a > img {
	height: 20px;
	margin-right: 5px;
	position: relative;
	top: 3px;
}

#about > a {
	color: #ffffff;
	font: normal 0.8em var(--text);
	text-decoration: none;
	cursor: pointer;
}

#about > a:hover {
	color: var(--primaryColor);
}

#settings > #save {
	padding: 15px;
	width: 130px;
	height: 55px;
	margin: 35px auto 15px auto;
	color: #ffffff;
	background-color: var(--primaryColor);
	box-shadow: 2px 2px 3px 2px var(--shadowColor);
	font: normal 1em var(--text);
	border: none;
}

#settings > #save:hover {
	cursor: pointer;
	background-color: var(--hoverColor);
}

#settings > #save:active {
	box-shadow: 0px 0px 0px 0px var(--shadowColor);
	position: relative;
	top: 3px;
}

@media only screen and (max-width: 500px) {
	header > .title {
		height: 50px;
		top: 50%;
		transform: translateY(70%);
	}

	main > #clock {
		position: relative;
		top: -50%;
		transform: translateY(50px);
		width: 350px;
	}

	#buttons {
		position: relative;
		top: 60%;
		transform: translateY(50px);
	}

	#button {
		height: 60px;
		margin-left: 10px;
	}

	#restart {
		height: 60px;
		margin-right: 10px;
	}

	#settings {
		width: 350px;
	}

	.colors {
		width: 100%;
	}
}
